{# empty Twig template #}
{% extends 'base.html.twig' %}
        {% block stylesheets %}
            {{parent()}}| 

        {% endblock %}
{% block body %}
    
      {% if( message is not empty)  %}
                <span>Le nouveau salarié a bien été enregistré<br>
                             Le login : {{message.username}} <br>
                              le mot de passe est : {{message.motpass}}
                </span><br>
                              
         {% endif %}
    
    <div id="petitlogo">
        <a href="/accueil" ><img src="img/logo-beige-grand.png" alt="Logo de MyFrenchHub"></a>
        </div> 
    <section id="formEnt" class="content">
        <br>
        <form >
    {% for item in donnee %}
        <h1>Espace  {{item.name|upper}} </h1>
               <label for='societe'>Nom de l'entreprise :</label>  
          
           <input type='text' name='societe'  value="{{item.name}}"  class="form-control"  readonly="readonly"><br>
          <label for="activite">Activité</label> <input type="text"  name="activite"  value="{{item.activity}}"class="form-control" readonly="readonly"> <br>
             <label for="adress">Adresse</label>  <input type="text" name="adress" value="{{item.adress}}" class="form-control" readonly="readonly" >  <br> 
               <label for="cp">Code postal</label> <input type="text" name="cp" value="{{item.cp}}" class="form-control" readonly="readonly">   <br>
                <label for="ville">Ville:</label>  <input type="text"  name="ville" value="{{item.Ville}}"  class="form-control" readonly="readonly"><br>
            <label for="pays">Pays :</label>  <input type="text"  name="pays" value="{{item.Pays}}"  class="form-control" readonly="readonly"><br>
             <label for="siren">Siren</label> <input type="text" name="siren" value="{{item.siren}}" class="form-control" readonly="readonly" >   <br>
        
                   <h4>Contact</h4>
                       <label>Civilite</label>
                        {%  if(item.civilite==0) %}
                            <label for="opt1">Mr</label><input required type="radio" name="opt" id="opt1" readonly="readonly" checked /><br>
                                 <label for="opt2">Mme</label> <input required type="radio" name="opt" id="opt2" readonly="readonly"/>
                        {% else %}
                            <label for="opt1">Mr</label><input required type="radio" name="opt" id="opt1" readonly="readonly"/><br>
                                <label for="opt2">Mme</label>  <input required type="radio" name="opt" id="opt2"  readonly="readonly"checked />   
                       {% endif %}
                 <br>
                       <label for="contactNom"> Nom </label> <input type="text" name="contactNom"  value="{{item.contactNom}}" readonly="readonly" >   <br>
                       
                        <label for="contactPrenom">Prenom </label>    <input type="text" name="contactPrenom"  value="{{item.contactPrenom}}" readonly="readonly">   <br>
                        
                        <label for="fonction">Fonction </label> :   <input type="text" name="fonction"  value="{{item.fonction}}"  readonly="readonly"> <br>
                        
                        <label for="email">Email </label> :   <input type="email" name="email"  value="{{item.emailContact}}"  readonly="readonly"><br>
                    
                            <label for="Tel">Telephone </label> :   <input type="tel" name="tel"   value="{{item.tel}}" readonly="readonly">   <br>
                        
                    <label for="pays">Nombres de salariés </label> 
                        <select name="salarier"  >
                            {%  if(item.NbreSalarier==1) %}
                                 <option value="1" selected >1 à 49</option> 
                                <option value="2" >50 à 249</option> 
                              <option value="3">250 à 1000</option> 
                             <option value="4">plus de 1000</option>
                            {% endif %}
                            {%  if(item.NbreSalarier==2) %}
                                 <option value="1" >1 à 49</option> 
                                <option value="2" selected >50 à 249</option> 
                              <option value="3">250 à 1000</option> 
                             <option value="4">plus de 1000</option>
                            {% endif %}
                            {%  if(item.NbreSalarier==3) %}
                                 <option value="1" >1 à 49</option> 
                                <option value="2" >50 à 249</option> 
                              <option value="3" selected  >250 à 1000</option> 
                             <option value="4">plus de 1000</option>
                            {% endif %}
                             {%  if(item.NbreSalarier==4) %}
                                 <option value="1" >1 à 49</option> 
                                <option value="2" >50 à 249</option> 
                              <option value="3" >250 à 1000</option> 
                             <option value="4" selected  >plus de 1000</option>
                            {% endif %}
                            
                       </select><br>
                  
                     {% endfor %}    
        </form>
       
                       <h2>Liste des salariés</h2>
                    <table>
                        <thead>
                             
                                <tr><th>Nom</th><th>Prenom</th><th>e mail</th><th>Fonction</th></tr>
                        </thead>
                        <tbody>
                            {% for Sal in listeSal %}
                                   <tr><<td> {{ Sal.name}}</td><td>{{ Sal.firstname}}</td><td>{{ Sal.email}}</td><td>{{ Sal.fonction}}</td></tr>
                               {% endfor %}
                        </tbody>
                        
                    </table>
                    
                    <h2>Ajouter un salarié</h2>
                    <form action="/ajoutSalarie" method="post">
                          {% for item in donnee %}
                        <input type="text" name="ident" value='{{item.id}}'  hidden>
                        {% endfor %}
                            <label for="Nom"> Nom </label> <input type="text" name="Nom"  >   <br>
                       
                        <label for="Prenom">Prenom </label>    <input type="text" name="Prenom" >   <br>
                        
                        <label for="fonction">Fonction </label> :   <input type="text" name="fonction" > <br>
                        
                        <label for="email">Email </label> :   <input type="email" name="email" ><br>
                        
                        
                          <input type="submit" name="valider" value="valider">
                    </form>
                    
                      
        </section>
                          
    {% endblock %}